<a href="https://colab.research.google.com/github/SiumNobo/CSS-MYSITE/blob/main/Day1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
var1=10;
print(var1)

10

python formated string

In [ ]:
val1,val2=10,20
st1="val 1={} and val2={}".format(val1,val2)
print()
print("Value 1={1} and value 2={0}".format(val1,val2))
print("value 1={key1} and value 2={key2}".format(key1=val1,key2=val2))

f1=2.26
print("formated value:(:08.5f)".format(f1))
print("formated value:(key:08.5f)".format(key=f1))

Value 1=20 and value 2=10
value 1=10 and value 2=20
formated value:(:08.5f)
formated value:(key:08.5f)

Python input

In [ ]:
num1=int(input("enter your number?"))
num2=int(input("enter your number?"))

sum=num1+num2;
print(float(sum))

enter your number?10
enter your number?20
30.0

Multiline String

In [ ]:
str1='single quoted string'
str2="double quoted string"
str3='''multi-line
string
with tab'''
print(str1)
print(str2)
print(str3)

single quoted string
double quoted string
multi-line
string
with tab

Last output and boolean variable

In [ ]:
print(0==0)
print(0==1)
print(True)

True
False
True

some other type conversion

In [ ]:
num1=10
num2=15.5
print(num1+num2)

#explicite type coversion
num1=10
str1="123"
print(num1+int(str1))
print(str(num1)+str1)

25.5
133
10123

Module code

In [ ]:
import math
print(math.pi)
print(math.sqrt(16))

from math import * #try to avoid this practice
print(pi)
from math import pi
print(pi)
import math as m
print(m.pi)

from math import pi as p
print(p)

3.141592653589793
4.0
3.141592653589793
3.141592653589793
3.141592653589793
3.141592653589793

#input file from a drive

Python operator

In [ ]:
print(5/2)
print(5//2)
print(5**2)

print(True or False)
print(True or True)
print(not True)


x=True
print(x is None)
print(x is not None)

str1="hello python"
print('hello' in str1)

2.5
2
25
True
True
False
False
True
True

Referring to the same object or not

In [ ]:
print("-----------Special Oprators-----------")
x=True
print(x is None)
print(x is not None)
print(x is True)

print("-------------Membership operators--------------")
#membership operator in/out in operator
str1="hello python"
print('hello' in str1)

-----------Special Oprators-----------
False
True
True
-------------Membership operators--------------
True

Scopeing

In [20]:
g = 10  # global variable [built-in [global: g=10]]]

def f1():
    global g  # referring to global variable g
    g = 20  # built-in [global: g=20]
    n1 = 20  # local for f1 [built-in [global g=20 [local n1=20]]]

def f2():
    global g
    g = 30
    n1 = 30  # local for f2 [built-in [global g=30 [local n1=30]]]
    l = 30
    print("l= " + str(l))  # Printing the local variable l
f2()

l= 30